@use '@angular/material' as mat;

.mat-toolbar {
  background: var(--mat-sys-container);
  color: var(--mat-sys-on-primary-container);
  font: var(--mat-sys-body-large);
  @include mat.strong-focus-indicators((border-color: var(--mat-sys-on-surface),
    border-width: 1px,
    border-radius: 1px,
  ));
}

