@use 'tailwindcss';
@use "@angular/material" as mat;

$theme: mat.define-theme((
  color: (
    primary: mat.$blue-palette
  ),
  typography: (
    brand-family: "Poppins",
    plain-family: "Inter",
    bold-weight: 700,
    medium-weight: 500,
  )
));

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    @include mat.all-component-themes($theme);
    @include mat.system-classes();
  }
}
