@import 'tailwindcss';

.row-enter {
    opacity: 0;
    height: 0;
    animation: rowFadeIn 300ms ease-out forwards;
  }
  
  @keyframes rowFadeIn {
    from {
      opacity: 0;
      height: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      height: 48px;
      transform: translateY(0);
    }
  }
  

  .row-leave {
    animation: rowFadeOut 300ms ease-in forwards;
  }
  
  @keyframes rowFadeOut {
    from {
      opacity: 1;
      height: 48px;
    }
    to {
      opacity: 0;
      height: 0;
    }
  }
  